.my-container{
    max-width: 400px !important;
  }

  .nav-wrapper{
    background-color:  #6a747c ;
  }
 
  input:focus {
    border-bottom: 1px solid #42a5f5 !important;
    box-shadow: none !important;
  }

  .slider .indicators .indicator-item.active {
    background-color: #6f4037;
    height: 12px !important;
    width: 12px !important;
  }
  .slider .indicators .indicator-item {
    height: 12px;
    width: 12px;
  }

  .row{
    padding-left: 25px;
    padding-right: 25px;
  }
/* 
  .row .col.m12{
    width: 30%
  } */

  .fslider{
    padding-bottom: 40px;
    padding-top: 10px;
  }

  .center-align{
    padding-bottom: 20px;
  }

  .description-title {
    font-weight: bold;
    color: #333;
  }
  
  .description-text {
    color: #666;
  }
